        <br/>
        <div class="footer">
            <div class="pull-right" id="step13">
                <strong class="text-navy">{{dash.FullName}},  <i> Country </i>:  {{dash.Country.Name}} </strong>
            </div>
            <div>
                <strong>Copyright</strong> <a href="http://acyst.tech">Acyst Technology Company </a>&copy; 2018
            </div>
        </div>
    </div>
</div>



    <!-- Mainly scripts -->
    <script type="text/javascript" source src="assets/js/angular/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script> -->
    <script type="text/javascript" source src="assets/js/angular/angular-timer-bower.js"></script>
    <script type="text/javascript" source src="assets/js/core/app.js"></script>
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- <script src="assets/js/core/get.js"></script>
    <script src="assets/js/core/edit.js"></script> -->
    <!-- <script src="assets/js/core/view.js"></script> -->
    <!-- <script src="assets/js/core/delete.js"></script> -->
    <script src="assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="assets/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="assets/js/inspinia.js"></script>
    <script src="assets/js/plugins/pace/pace.min.js"></script>
    <script src="assets/js/plugins/iCheck/icheck.min.js"></script>
    <script src="assets/js/plugins/idle-timer/idle-timer.min.js"></script>
    <script src="assets/js/plugins/toastr/toastr.min.js"></script>
    <script src="assets/js/plugins/dataTables/datatables.min.js"></script>
    <!-- Bootstrap Tour -->
    <script src="assets/js/plugins/bootstrapTour/bootstrap-tour.min.js"></script>
    <!-- Toastr script -->
    <script src="assets/js/plugins/toastr/toastr.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b2027479b5236437c3dfb74/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>
