<!DOCTYPE html>
<html ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?php echo $_GET['title']; ?></title>
    <meta name="description" content="<?php echo $_GET['description']; ?>">
    <meta name="keywords" content="ACYST TECHNOLOGY, Whitelist">
    <meta name="author" content="ACYST TECH">
    <meta name="copyright" content="ACYST TECHNOLOGY COMPANY" />
    <meta name="application-name" content="The CREED Church Management System" />
    <meta name="robots" content="no-follow, no-index">
    <base href="http://localhost:85/adweb/bday/app/">
    <!-- <base href="http://admin.creed.acyst.tech"> -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.png">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="assets/css/plugins/codemirror/ambiance.css" rel="stylesheet">
    <link href="assets/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="assets/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="assets/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="assets/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <!-- Bootstrap Tour -->
    <link href="assets/css/plugins/bootstrapTour/bootstrap-tour.min.css" rel="stylesheet">
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/js/bootstrap-4.0.0.min.js"></script>
    <script src="assets/preloader.js"></script>
<!--     <script src="assets/js/core/post.js"></script>
    <script src="assets/js/core/update.js"></script> -->
</head>

<body class="top-navigation">
    <div class="preloader-wrapper">
        <div class="preloader">
            <img src="assets/img/2.gif" alt="Loader">
        </div>
    </div>