
<div id="wrapper">
    <div id="page-wrapper" class="dark-gray-bg" ng-controller="usercontroller">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="blogs" class="navbar-brand">WhiteList</a>
                </div>
                <div class="navbar-collapse collapse col-xs-offset-1" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active" id="step12">
                            <a aria-expanded="false" role="button" href="profile">{{dash.AppUser.Username}}</a>
                        </li>
                        <li class="dashboard">
                            <a aria-expanded="false" role="button" href="dashboard">Dashboard</a>
                        </li>
                        <li class="staff" id="step5">
                            <a aria-expanded="false" role="button" href="staff">Staff</a>
                        </li>
                        <li class="customer" id="step6">
                            <a aria-expanded="false" role="button" href="customer">Customer</a>
                        </li>
                        <li class="alerts" id="step7">
                            <a aria-expanded="false" role="button" href="alerts">Alert</a>
                        </li>
                        <li class="messages" id="step8">
                            <a aria-expanded="false" role="button" href="messages">Messages</a>
                        </li>
                        <li class="smsLogs" id="step9">
                            <a aria-expanded="false" role="button" href="smslogs">SmsLogs</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="topup" id="step10">
                            <a aria-expanded="false" role="button" href="topup"><i class="fa fa-envelope"></i> {{dash.AppUser.SmsCredit}}</a>
                        </li>
                        <li id="step11">
                            <a ng-click="logout(dash.AppUser.Username)">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>