
<div ng-controller="customercontroller">    
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-6">
            <h2>Customer's Manager</h2>
            <ol class="breadcrumb">
                <li><a href="Dashboard">Home</a></li>
                <li class="active">
                    <strong>Customer Manager / {{custs.length}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2 pull-right">
            <div class="title-action">
                <a class="btn Add btn-primary" ng-hide="add" ng-click="editCust('new')">New Customer</a>
                <a id="Back" class="btn Add btn-primary" ng-show="add">Back</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="title-action">
                <div class="input-group" ng-hide="add">
                    <input type="text" ng-model="SearchData" id="data" class="form-control" required>
                    <span class="input-group-btn">
                        <button type="button" id="Search" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated AddView View fadeInRight" ng-show="hideform">
        <div class="row">
            <div class="col-md-4">
                <form class="m-t form-horizontal" method="Post">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class="text-navy" ng-hide="edit">Add Customer Details</h5>
                            <h5 class="text-navy" ng-show="edit">Edit Customer Details</h5>
                            <div class="ibox-tools">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>FullName *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                                                <input type="text" id="FullName" ng-model="cust.FullName" placeholder="FullName" class="form-control" required>
                                                <input type="text" id="CustomerId" ng-model="cust.CustomerId" class="form-control hidden">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Phone No *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                <input type="text" id="Phone" ng-model="cust.Phone" placeholder="Mobile Number" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                                <input type="email" id="Email" ng-model="cust.Email" placeholder="Email Address" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>DateOfBirth*</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="date" date='dd-MM-yyyy' ng-model="cust.DateOfBirth" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-12">
                                            <a class="btn btn-sm btn-white btn-rounded Back" type="cancel">Cancel</a> 
                                            <button class="btn btn-sm btn-rounded btn-primary" ng-hide="edit" ng-click="postCust()" type="button">Add Customer</button>
                                            <button class="btn btn-sm btn-rounded btn-warning" ng-show="edit" ng-click="updateCust(cust.CustomerId)" type="button">Update Customer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"><br>
                <div class="contact-box">
                    <a>
                        <div class="col-sm-12 col-xs-12">
                            <h3><strong>{{cust.FullName | capitalize:true}}</strong></h3>
                            <ul class="list-unstyled m-t-md">
                                <li>
                                    <span class="fa fa-phone m-r-xs"></span>
                                    <label></label> {{cust.Phone}} <br>
                                    <span class="fa fa-calendar m-r-xs"></span>
                                    <label></label> {{cust.DateOfBirth | date}}<br>
                                    <span class="fa fa-at m-r-xs"></span>
                                    <label></label> {{cust.Email | lowercase}}
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper View wrapper-content animated Blog fadeInRight" ng-hide="hideform">
        <div class="row">
            <div class="col-md-3" ng-repeat="s in custs | filter : SearchData | limitTo : count">
                <div class="contact-box">
                    <a>
                        <div class="col-sm-12 col-xs-12">
                            <h3><strong>{{s.FullName | capitalize:true}}</strong></h3>
                            <ul class="list-unstyled m-t-md">
                                <li>
                                    <span class="fa fa-phone m-r-xs"></span>
                                    <label></label> {{s.Phone}} <br>
                                    <span class="fa fa-calendar m-r-xs"></span>
                                    <label></label> {{s.DateOfBirth | date}}<br>
                                    <span class="fa fa-at m-r-xs"></span>
                                    <label></label> {{s.Email | lowercase}}
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <div class="contact-box-foot">
                        <div class="btn-group">
                            <a ng-click="editCust(id)" ng-init="id=s.CustomerId" class="btn btn-xs btn-white"><i class="fa fa-edit"></i>Edit</a> 
                            <a ng-click="deleteCust(id)" ng-init="id=s.CustomerId" class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center"> 
            <button class="btn btn-default btn-circle btn-lg" ng-click="load()" ng-init="page=1" type="button"><i class="fa fa-spinner fa-spin"></i></button>
        </div><br>
    </div>
</div>