
<div class="wrapper wrapper-content">
    <div class="container" ng-controller="boardcontroller">
        <div class="row" id="step1">
            <div class="col-md-2 col-xs-6">
                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Staff</span>
                            <h2 class="font-bold">{{dashs.Staff}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="widget style1 lazur-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="fa fa-address-book fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Customer</span>
                            <h2 class="font-bold">{{dashs.Customer}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="widget style1 yellow-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Auto Log</span>
                            <h2 class="font-bold">{{dashs.BASms}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="fa fa-rss fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>SmsLog</span>
                            <h2 class="font-bold">{{dashs.AppLog}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="widget style1 lazur-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="fa fa-snowflake-o fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Schedule</span>
                            <h2 class="font-bold">{{dashs.Schedule}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="widget style1 yellow-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="fa fa-envelope fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Message</span>
                            <h2 class="font-bold">{{dashs.Message}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12" id="step2">
                <div class="widget-head-color-box navy-bg p-md">
                    <h2 class="font-bold no-margins">Profile</h2>
                    <br>
                    <div class="row">
                        <div class="col-md-3 col-xs-8">
                            <p class="text-center">
                              <img ng-src="{{Imgurl + dash.AppUser.Image}}" alt="Profile Image" onerror="this.src='assets/img/acyst-logo.png'" id="UserPic" class="img-circle img-responsive circle-border m-b-md">
                            </p>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <ul class="list-unstyled m-t-md">
                                <li><h2>{{dash.FullName | capitalize:true}}</h2></li>
                                <li>
                                    <span class="fa fa-phone m-r-xs"></span>
                                    <label>Contact:</label> {{dash.Phone}}
                                </li>
                                <li>
                                    <span class="fa fa-envelope m-r-xs"></span>
                                    <label>Email:</label> {{dash.AppUser.Email | capitalize}}
                                </li>
                                <li>
                                    <span class="fa fa-user m-r-xs"></span>
                                    <label>DateofInC.:</label> {{dash.DateOfInC | date}} <br>
                                    <span class="fa fa-power-off m-r-xs"></span>
                                    <label>LastLogin:</label> {{dash.AppUser.LastLogin | date:'medium'}}<br>
                                    <span class="fa fa-power-off m-r-xs"></span>
                                    <label>LastLogOut:</label> {{dash.AppUser.LastLogOut | date:'medium'}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-text-box col-sm-12">
                    <h4 class="media-heading"><label>Username:</label> {{dash.AppUser.Username}} || <label>SenderId:</label> {{dash.SenderId}} || <label>Status: {{dash.AppUser.Status}}</label></h4>
                    <p>Welcome to BD-BUZZ a Birthday and Aniversary Automated Messaging Application.</p>
                    <div class="col-sm-4 text-left">
                        <a class="btn btn-primary btn-xs startTour"><i class="fa fa-play"></i> Start Tour</a>
                    </div>
                    <div class="col-sm-8 text-right" id="step3"> <label>Change: </label> 
                        <a data-toggle="modal" class="btn btn-xs btn-success" href="#modal-sender">
                            <i class="fa fa-id-badge"></i> SenderId </a> 
                        <a data-toggle="modal" class="btn btn-xs btn-info" href="#modal-image">
                            <i class="fa fa-image"></i> Image</a>
                        <a data-toggle="modal" class="btn btn-xs btn-warning" href="#modal-password">
                            <i class="fa fa-eye"></i>  Password</a>
                    </div>
                </div>
                <div id="modal-sender" class="modal fade" aria-hidden="true">
                    <div class="modal-dialog" style="width: 300px;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12 b-r">
                                        <h3 class="m-t-none m-b">Change SenderId</h3>
                                        <form role="form">
                                            <div class="form-group">
                                                <label>SenderId</label>
                                                <input type="text" ng-model="dash.SenderId" class="form-control" required>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-sm btn-default pull-right m-t-n-xs Close" data-dismiss="modal">Close</button>
                                                <button class="btn btn-sm btn-warning pull-right m-t-n-xs" ng-click="change()" type="submit"><strong>Change</strong></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-image" class="modal fade" aria-hidden="true">
                    <div class="modal-dialog" style="width: 300px;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12 b-r"><h4>Change Profile Image</h4>
                                        <p>You can create an account:</p>
                                        <p class="text-center">
                                            <div class="col-sm-12 col-xs-12">
                                                <img src="assets/img/2.gif" id="Pass" class="img-circle img-responsive circle-border m-b-md">
                                            </div>
                                            <div class="form-group">
                                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                    <div class="form-control col-lg-4" data-trigger="fileinput">
                                                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                    </div>
                                                    <span class="input-group-addon btn btn-default btn-file">
                                                        <span class="fileinput-new">Select File</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" id="Passport" onchange="read(this)" placeholder="Passport" required />
                                                    </span>
                                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-default pull-right m-t-n-xs Close" data-dismiss="modal">Close</button>
                                            <button class="btn btn-sm btn-warning pull-right m-t-n-xs" ng-click="upload()" type="submit"><strong>Upload</strong></button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-password" class="modal fade" aria-hidden="true">
                    <div class="modal-dialog" style="width: 350px;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12 b-r">
                                        <h3 class="m-t-none m-b">Change Password</h3>
                                        <form role="form">
                                            {{chp}}
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" ng-model="chp.Username" class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" placeholder="Old Password" ng-model="chp.OldPassword" class="form-control" required>
                                                <input type="password" placeholder="New Password" ng-model="chp.NewPassword" class="form-control" required>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-sm btn-default pull-right m-t-n-xs Close" data-dismiss="modal">Close</button>
                                                <button class="btn btn-sm btn-warning pull-right m-t-n-xs" ng-click="changepassword()" type="submit"><strong>Change</strong></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" id="step4">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h2>Today Birthdays/ Aniversary List</h2>
                        <small><b>This Month :</b> {{dash.MBday}},   <b>Today:</b> {{dash.Today.length}}; </small><br><small class="text-right"><b>Passed :</b> {{dash.PBday}},     <b>Upcoming :</b> {{dash.UBday}}</small>

                        <a data-toggle="modal" class="btn pull-right btn-info" href="#todo-form"><i class="fa fa-list"></i> Quick Send</a> 
                        <ul class="todo-list m-t small-list">
                            <li ng-repeat="a in dash.Today">
                               <a ng-click="complete(id)" ng-init="id=a.TodoId" class="check-link"><i class="fa fa-square-o"></i></a>
                                <span class="m-l-xs">{{ a.Name }} || {{ a.Type }} || {{ a.Date }}</span>
                            </li>
                        </ul><br>
                    </div>
                    <div id="todo-form" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12 b-r">
                                            <h3 class="m-t-none m-b">Send/ Schedule Message</h3>
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>Phone No*</label>
                                                    <textarea type="text" placeholder="Phone Numbers(Max: 14-16)" id="Phone" rows="2" maxlength="160" class="form-control" required></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Message*</label>
                                                    <textarea type="text" placeholder="Enter Message (Max: 160)" maxlength="160" id="Message" rows="3" class="form-control" required></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Send Date</label>
                                                    <input type="date" id="SendDate" min="<?php echo date('Y-m-d');?>" class="form-control" onchange="Send(this.value)">
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-sm btn-default pull-right m-t-n-xs Close" data-dismiss="modal">Close</button> 
                                                    <button class="btn btn-sm btn-primary m-t-n-xs" id="Send" type="submit"><strong>Send Now</strong></button> 
                                                    <button class="btn btn-sm btn-warning text-center m-t-n-xs" id="Schedule" type="submit"><strong>Schedule</strong></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
