
    <div class="passwordBox animated fadeInDown" ng-controller="logincontroller">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Forgot password</h2>
                    <p>Enter your email address, your password will be reset and emailed to you.</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" >
                                <div class="form-group">
                                    <input type="email" class="form-control" ng-model="log.Email" placeholder="Email address" required>
                                </div>
                                <button type="submit" ng-click="forgetpassword()" class="btn btn-primary block full-width m-b">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>{{log}}
        <div class="row white">
            <div class="col-md-8">
                Copyright ACYST TECHNOLOGY
            </div>
            <div class="col-md-4 text-right">
               <small>© 2018</small>
            </div>
        </div>
    </div>
    <!-- Toastr script -->
    <script src="assets/js/core/connect.js"></script>
    <script src="assets/js/plugins/toastr/toastr.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" source src="assets/js/angular/angular.min.js"></script>
    <script type="text/javascript" source src="assets/js/core/app.js"></script>
    <!-- Sweet alert -->
    <script src="assets/js/plugins/sweetalert/sweetalert.min.js"></script>

</body>

</html>
