
    <div class="loginColumns">
        <div class="row" ng-controller="logincontroller">
            <div class="col-md-6 col-xs-12" align="center">
                <img src="assets/img/acyst-logo.png" class="img-responsive" width="250px">
                <p class="white hidden">{{log}}</p>
                <h2 class="font-bold white">Welcome to Whitelist</h2>
                <h5 class="white">Whitelist is an Application that Send Birthday/ Aniversary Messages to Staff of an Registered Organization Using the Organisation SenderId.</h5>

            </div>
            <div class="col-md-6 center-block col-xs-12">
                <div class="ibox-content">
                <h3 class="font-bold text-center">Enter Login Details</h3>
                    <form class="m-t" role="form" method="post">
                        <div class="form-group msg" id="msg">
                            <p id="text"></p>
                        </div>
                        <div class="form-group">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" id="username" ng-model="log.Username" class="form-control input-md" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-eye"></i></span>
                              <input type="password" id="password" ng-model="log.Password" class="form-control input-md" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox i-checks"><label>
                            <input type="checkbox"><i></i> Remember Me </label></div>
                        </div>
                        <button class="btn btn-md block full-width m-b btn-primary" ng-click="login()" type="button">Login</button>

                        <a href="forgot_password"><small>Forgot password?</small></a>
                        <div class="hr-line-dashed"></div>
                        <p class="text-muted text-center"><small>Do not have an account?</small></p>
                        <a class="btn btn-sm btn-white btn-block" href="register">Create an account</a>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row white">
            <div class="col-md-6">
                Copyright <a href="http://acyst.tech"> ACYST TECHNOLOGY</a>
            </div>
            <div class="col-md-6 text-right">
               <small>© 2018</small>
            </div>
        </div>
    </div>
    <!-- Toastr script -->
    <script src="assets/js/core/connect.js"></script>
    <script src="assets/js/plugins/toastr/toastr.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" source src="assets/js/angular/angular.min.js"></script>
    <script type="text/javascript" source src="assets/js/core/app.js"></script>
    <!-- Sweet alert -->
    <script src="assets/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b3230a2eba8cd3125e32f2f/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>
