
<div ng-controller="birthcontroller">    
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-6">
            <h2>Sented Birthday/ Aniversary Messages</h2>
            <ol class="breadcrumb">
                <li><a href="Dashboard">Home</a></li>
                <li class="active">
                    <strong>Sent Message Log  / {{birthday.length}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2 pull-right">
            <div class="title-action">
                <a class="btn Add btn-primary" ng-hide="add" ng-click="editCust('new')">Report</a>
                <a id="Back" class="btn Add btn-primary" ng-show="add">Back</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="title-action">
                <div class="input-group">
                    <input type="text" ng-model="SearchData" id="data" class="form-control" required>
                    <span class="input-group-btn">
                        <button type="button" id="Search" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper View wrapper-content animated Blog fadeInRight">
        <div class="row">
            <div class="col-md-3" ng-repeat="s in birthday | filter : SearchData | limitTo : count">
                <div class="contact-box">
                    <a>
                        <div class="col-sm-12 col-xs-12">
                            <h3>
                                <strong>{{s.Staff.FullName | capitalize:true}}{{s.Customer.FullName | capitalize:true}}</strong>
                            </h3>
                            <ul class="list-unstyled m-t-md">
                                <li>
                                    <span class="fa fa-phone m-r-xs"></span>
                                    <label> </label> {{s.Destination}} <br>
                                    <span class="fa fa-telegram m-r-xs"></span>
                                    <label> </label> {{s.Type}}<br>
                                    <span class="fa fa-calendar m-r-xs"></span>
                                    <label> </label> {{s.CreatedDate | date}} <br>
                                    <span class="fa fa-handshake-o m-r-xs"></span>
                                    <label> </label> {{s.Code}}<br>
                                    <span class="fa fa-envelope m-r-xs"></span>
                                    <label> </label> {{s.Response}}
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <div class="btn-group">
                        <a ng-click="retry(id)" ng-init="id=s.BirthdayId" class="btn btn-xs btn-white"><i class="fa fa-refresh"></i> Resend</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center"> 
            <button class="btn btn-default btn-circle btn-lg" ng-click="load()" ng-init="page=1" type="button"><i class="fa fa-refresh fa-spin"></i></button>
        </div><br>
    </div>
</div>