
<div ng-controller="profilecontroller">	
	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-md-10">
            <h2>Profile</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="dashboard">DashBoard</a>
                </li>
                <li><a>Current User</a></li>
                <li class="active">
                    <strong>Profile</strong>
                </li>
            </ol>
        </div>
        <div class="col-md-2">

        </div>
    </div>

	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row m-b-md m-t-md text-white">
            <div class="col-md-6">
                <div class="profile-image">
                    <img src="assets/img/2.gif" ng-src="{{Imgurl + dash.Logo}}" class="img-circle img-responsive circle-border m-b-md" >
                </div>
                <div class="profile-info">
                    <div class="">
                        <div>
                            <h2 class="no-margins">{{dash.AppUser.Username}} </h2>
                            <h4>{{dash.FullName}}</h4>
                            <small>
                                {{dash.DateOfInC | date}} to {{date | date}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <table class="table small m-b-xs">
                    <tbody>
                    <tr>
                        <td>
                            <strong>{{dashs.Staff}}</strong> Staff
                        </td>
                        <td>
                            <strong>{{dashs.Customer}}</strong> Customers
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{dashs.BASms}}</strong> B./A. Sms
                        </td>
                        <td>
                            <strong>{{dashs.AppLog}}</strong> SmsLogs
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{dashs.Schedule}}</strong> Schedules
                        </td>
                        <td>
                            <strong>{{dashs.Message}}</strong> Messages
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 text-center">
                <small>Total Sms Send</small>
                <h2 class="no-margins">{{dashs.BASms + dashs.AppLog}}</h2>
                <div id="sparkline1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>About</h3>
                        <p class="small" ng-hide="Edit">
                            {{dash.About}}
                        </p>
                        <p class="small" ng-hide="Edit">
                            <ul class="list-unstyled m-t-md">
                                <li><span class="fa fa-phone m-r-xs"></span>
                                    <label>:</label> {{dash.Phone}}</li>
                                <li><span class="fa fa-at m-r-xs"></span>
                                    <label>:</label> {{dash.AppUser.Email | capitalize}}</li>
                                <li><span class="fa fa-map-marker m-r-xs"></span>
                                    <label>:</label> {{dash.Country.Name}}</li>
                                <li><span class="fa fa-power-off m-r-xs"></span>
                                    <label>:</label> {{dash.AppUser.LastLogin | date:'medium'}}<br>
                                    <span class="fa fa-power-off m-r-xs"></span>
                                    <label>:</label> {{dash.AppUser.LastLogOut | date:'medium'}}
                                </li>
                            </ul>
                        </p>
                        <p class="small font-bold">
                            <span><i class="fa fa-circle text-navy"></i> {{dash.AppUser.Status}}</span>
                            <a class="btn btn-primary btn-xs btn-sm pull-right" ng-hide="Edit" ng-click="Edit=true">Edit</a>
                        </p>
                        <div class="media-body" ng-show="Edit">
                            <textarea class="form-control" ng-model="dash.About" placeholder="Write comment..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="ibox" ng-show="Edit">
                    <div class="ibox-content">
                        <h3>Edit Details</h3>
                        <div class="user-friends">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    <input type="text" ng-model="dash.FullName" class="form-control input-md" placeholder="Company Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input type="text" ng-model="dash.Phone" class="form-control input-md" placeholder="Phone Number" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-telegram"></i></span>
                                    <input type="text" ng-model="dash.SenderId" maxlength="11" class="form-control input-md" placeholder="Message Sender Name" required>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-image"></i></span>
                                  <input type="file" id="Logo" class="form-control input-md" required>
                                  <input type="text" class="form-control input-md" ng-model="dash.Logo" ng-hide="Edit">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                  <input type="date" ng-model="dash.DateOfInC" class="form-control input-md" placeholder="Date Of Establishment" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    <select class="form-control" ng-model="dash.CountryId" required>
                                        <option value="">Choose Options..</option>
                                        <option ng-repeat="c in countrys" ng-selected="c.CountryId == dash.CountryId" value="{{c.CountryId}}">{{c.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="small font-bold">
                                    <button class="btn btn-sm btn-xs btn-primary pull-right" ng-click="update(dash.AppUsersDetailsId)">Update</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-content">
                        <p class="small">Your Suggestions and Complains</p>
                        <div class="form-group">
                            <label>Suggestion</label>
                            <textarea class="form-control" ng-model="sug.Comment" placeholder="Your message" rows="3"></textarea>
                        </div>
                        <button class="btn btn-primary btn-block" ng-click="suggest()">Send</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <input type="text" ng-model="SearchData" id="data" class="form-control" required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="social-feed-box" ng-repeat="s in sches | filter : SearchData | limitTo : count">
                    <div class="pull-right social-action dropdown">
                        <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu m-t-xs">
                            <li><a>{{s.Option+' | '+s.Count }}</a></li>
                        </ul>
                    </div>
                    <div class="social-avatar">
                        <div class="media-body">
                            <a>{{s.Title | capitalize:true}}</a>
                            <small class="text-muted">{{s.CreatedDate | date:'medium'}} {{ '|| '+s.Page+' Page'}} </small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>{{s.Message}}</p>
                        <div class="btn-group">
                            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> {{s.Status}}</button>
                            <button class="btn btn-white btn-xs"><i class="fa fa-calendar"></i> {{s.Date | countdown}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center"> 
                    <button class="btn btn-default btn-circle btn-lg" ng-click="load()" ng-init="page=1" type="button"><i class="fa fa-refresh fa-spin"></i></button>
                </div><br>
            </div>
            <div class="col-md-4 m-b-md">
                <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                    <div class="vertical-timeline-block" ng-repeat="m in msg">
                        <div class="vertical-timeline-icon yellow-bg">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="vertical-timeline-content">
                            <h2>{{m.Type}}</h2>
                            <p>{{m.Messages}}.</p>
                            <span class="vertical-date">
                                {{m.CreatedDate | date:'medium'}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>