
    <div class="loginColumns">
        <div class="row" ng-controller="logincontroller">
            <div class="col-md-6 col-xs-12" align="center">
                <img src="assets/img/acyst-logo.png" class="img-responsive" width="250px">
                <p class="white hidden">{{regis}}</p>
                <h2 class="font-bold white">Welcome to BD-BUZZ</h2>
                <h5 class="white">BD-Buzz is an Application that Send Birthday/ Aniversary Messages to Staff of an Registered Organization Using the Organisation SenderId.</h5>

            </div>
            <div class="col-md-6 center-block col-xs-12">
                <div class="ibox-content">
                    <h3 class="font-bold text-center">Provide Registeration Details</h3>
                    <form class="m-t" role="form" method="post" >
                        <div class="First">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    <input type="text" ng-model="regis.Detail.FullName" class="form-control input-md" placeholder="Company Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input type="text" ng-model="regis.Detail.Phone" class="form-control input-md" placeholder="Phone Number" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                  <input type="date" ng-model="regis.Detail.DateOfInC" class="form-control input-md" placeholder="Date Of Establishment" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-image"></i></span>
                                  <input type="file" ng-model="regis.Detail.Logo" id="Logo" class="form-control input-md" placeholder="Company Logo" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-telegram"></i></span>
                                    <input type="text" ng-model="regis.Detail.SenderId" maxlength="11" class="form-control input-md" placeholder="Message Sender Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group" ng-controller="countrycontroller">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    <select class="form-control" ng-model="regis.Detail.CountryId" required>
                                        <option value="">Choose Options..</option>
                                        <option ng-repeat="c in country" value="{{c.CountryId}}">{{c.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-md block full-width m-b btn-primary" id="Next" type="button">Next</button>
                        </div>
                        <div class="Second hidden" id="Registeration">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                    <input type="Email" ng-model="regis.AppUser.Email" class="form-control input-md" placeholder="Email Address" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" ng-model="regis.AppUser.Username" class="form-control input-md" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-eye"></i></span>
                                  <input type="password" ng-model="regis.AppUser.Password" class="form-control example4 input-md" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="pwstrength_viewport_progress"></div>
                            </div>
                            <div class="form-group">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-eye"></i></span>
                                  <input type="password" ng-model="regis.AppUser.ConfirmPassword" class="form-control input-md" placeholder="Confirm Password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox i-checks">
                                    <input type="checkbox"><i></i><label> Terms and Condition </label>
                                </div>
                            </div>
                            <button class="btn btn-md block full-width m-b btn-primary" ng-click="register()" id="btnRegister" type="button">Register </button>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <p class="text-muted text-center"><small>Already have an account?</small></p>
                        <a class="btn btn-sm btn-white btn-block" href="Login">Login</a>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row white">
            <div class="col-md-6">
                Copyright <a href="http://acyst.tech"> ACYST TECHNOLOGY</a>
            </div>
            <div class="col-md-6 text-right">
               <small>© 2018</small>
            </div>
        </div>
    </div>
    <!-- Toastr script -->
    <script src="assets/js/core/connect.js"></script>
    <script src="assets/js/plugins/toastr/toastr.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" source src="assets/js/angular/angular.min.js"></script>
    <script type="text/javascript" source src="assets/js/core/app.js"></script>
    <!-- Sweet alert -->
    <script src="assets/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Password meter -->
    <script src="assets/js/plugins/pwstrength/pwstrength-bootstrap.min.js"></script>
    <script src="assets/js/plugins/pwstrength/zxcvbn.js"></script>
    <script>

        $(document).ready(function(){
            // Example 4
            var options4 = {};
            options4.ui = {
                container: "#Registeration",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options4.common = {
                debug: false,
                zxcvbn: true,
                zxcvbnTerms: ['samurai', 'password', 'password@1', 'shogun', 'bushido', 'daisho', 'seppuku'],
                userInputs: ['#Email', '#Username']
            };
            $('.example4').pwstrength(options4);

            $('#Next').click(function(){
                $('.First').addClass('hidden');
                $('.Second').removeClass('hidden');
            });
        })
    </script>
</body>

</html>
