
<div ng-controller="alertcontroller"> 
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-md-5">
            <h2 class="text-navy">SMS Activity</h2>
            <ol class="breadcrumb">
                <li><a href="Dashboard">Home</a></li>
                <li><a href="Alerts">Alerts</a></li>
                <li class="active">
                    <strong>SMS Broadcasting</strong>
                </li>
            </ol>
        </div>
        <div class="col-md-7">
            <div class="title-action">
                <a id="Back" class="btn Add btn-primary hidden"> Back</a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight AddView View">
        <div class="tabs-container ">
            <h5 class="text-black hidden">{{alert}}{{save}}</h5>
            <h5 class="text-black hidden">{{send}}</h5>
            <h5 class="text-black hidden">{{sing}}</h5>
            <h5 class="text-black hidden">{{sche}}</h5>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#General"><h5 class="text-black">GENERAL</h5></a></li>
                <li class=""><a data-toggle="tab" href="#Sing"><h5 class="text-black">SINGLE</h5></a></li>
                <li class=""><a data-toggle="tab" href="#Other"><h5 class="text-black">SCHEDULE</h5></a></li>
                <li class=""><a data-toggle="tab" href="#Birth"><h5 class="text-black">MESSAGE</h5></a></li>
            </ul>
            <div class="tab-content">
                <div id="General" class="tab-pane active">
                    <div class="panel-body">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label ng-show="dph"> {{send.Count}} Mobile Numbers</label> 
                                <textarea type="numbers" ng-model="send.Destination" ng-change="getcount(send.Destination)" rows="6" placeholder="Phone Numbers" class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <label ng-show="rpt">Message Length: {{send.Message.length}}/{{maxlimit}} || {{send.SmsPrice}} Page || Cost: {{send.SmsPrice}} Sms Unit</label> 
                                <textarea ng-model="send.Message" rows="6" ng-change="change(send.Message.length)" ng-init="maxlimit=160" ng-trim="false" placeholder="Type your Message Here!" maxlength="820" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Option</label>
                                        <div class="col-md-2">
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" value="All" id="All" name="send" ng-model="send.Option" ng-click="getnos('All')">
                                                <label for="All">All</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" value="Staff" id="Staff" name="send" ng-model="send.Option" ng-click="getnos('Staff')"> 
                                                <label for="Staff">Staff</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" value="Customer" id="Customer" name="send" ng-model="send.Option" ng-click="getnos('Customer')"> 
                                                <label for="Customer"> Customer</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Cost</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="send.Cost" ng-init="send.Cost=0" placeholder="Total Cost" readonly>
                                                <span class="input-group-btn">
                                                    <button type="text" class="btn btn-info">Sms Unit</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <label>Current Date: {{date | date}} </label><br><br>
                                        <label class="col-md-4 control-label"></label>
                                        <button class="btn btn-primary btn-rounded" ng-click="broadcast()" type="button">Send</button>
                                        <button class="btn btn-white btn-rounded Back" type="button">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Sing" class="tab-pane ">
                    <div class="panel-body">
                        <div class="row col-md-offset-2">
                            <div class="col-md-7">
                                <form class="form-horizontal" role="form" method="POST">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Option</label>
                                        <div class="col-md-9">
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" value="false" id="Staff" name="option" ng-click="option=false" ng-model="alert.Option" ng-init="option=false" checked="">
                                                <label for="Staff">
                                                    Select From Staff List
                                                </label>
                                            </div>
                                            <div class="radio radio-primary radio-inline">
                                                <input type="radio" value="true" id="Customer" name="Option" ng-click="option=true" ng-model="alert.Option">
                                                <label for="Customer">
                                                    Select From Customer List
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-hide="option">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <select ng-model="sing.StaffId" ng-change="getno()" class="form-control">
                                                <option value="">Select Staff</option>
                                                <option ng-repeat="a in staffs" value="{{a.StaffId}}">{{a.FullName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="option">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <select ng-model="sing.CustomerId" ng-change="getno()" class="form-control">
                                                <option value="">Select Customer</option>
                                                <option ng-repeat="a in custs" value="{{a.CustomerId}}">{{a.FullName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Mobile</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="sing.Destination" placeholder="Mobile" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Message </label>
                                        <div class="col-md-9">
                                            <b ng-show="srpt"> Length: {{sing.Message.length}}/{{maxlimit}} || {{sing.SmsPrice}} Page || Cost: {{sing.SmsPrice}} Sms Unit</b>
                                            <textarea ng-model="sing.Message" rows="5" ng-change="schange(sing.Message.length)" ng-init="maxlimit=160" ng-trim="false" placeholder="Type your Message Here!" maxlength="820" class="form-control" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                        <div class="col-md-4 col-md-offset-8"><br/>
                                            <button class="btn btn-primary" ng-click="single()" type="button">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Other" class="tab-pane">
                    <div class="panel-body">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label ng-show="edph"> {{sche.Count}} Mobile Numbers</label> 
                                <textarea ng-model="sche.Destination" ng-change="getecount(sche.Destination)" rows="6" placeholder="Phone Numbers" class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <label ng-show="erpt">Message Length: {{sche.Message.length}}/{{maxlimit}} || {{sche.SmsPrice}} Page || Cost: {{sche.SmsPrice}} Sms Unit</label> 
                                <textarea ng-model="sche.Message" rows="6" ng-change="echange(sche.Message.length)" ng-init="maxlimit=160" ng-trim="false" placeholder="Type your Message Here!" maxlength="820" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <form class="form-horizontal" role="form" method="POST">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Edit Schedule</label>
                                        <div class="col-md-6">
                                            <select ng-model="schid" ng-change="getsche(schid)" class="form-control">
                                                <option value="">Schedule that hasnt</option>
                                               <option ng-repeat="a in sches" value="{{a.AppScheduleId}}">{{a.Title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Option</label>
                                        <div class="col-md-2">
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" value="All" id="Alls" name="sche" ng-model="sche.Option" ng-click="sgetnos('All')">
                                                <label for="Alls">All</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" value="Staff" id="Staffs" name="sche" ng-model="sche.Option" ng-click="sgetnos('Staff')"> 
                                                <label for="Staffs">Staff</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" value="Customer" id="Customers" name="sche" ng-model="sche.Option" ng-click="sgetnos('Customer')"> 
                                                <label for="Customers"> Customer</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Title</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" ng-model="sche.Title" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Send Date</label>
                                        <div class="col-md-6">
                                            <input type="date" class="form-control" ng-model="sche.Date" ng-init="sche.Date=date" min="{{date}}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Cost</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="sche.Cost" ng-init="sche.Cost=0" placeholder="Total Cost" readonly>
                                                <span class="input-group-btn">
                                                    <button type="text" class="btn btn-info">Sms Unit</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary" ng-click="schedule()" type="button">Schedule</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Birth" class="tab-pane">
                    <div class="panel-body">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label ng-show="sarpt">Message Length: {{save.Messages.length}}/{{maxlimit}} || {{save.SmsPrice}} Page || Cost: {{save.SmsPrice}} Sms Unit</label> 
                                <textarea ng-model="save.Messages" rows="6" ng-change="sachange(save.Messages.length)" ng-init="maxlimit=160" ng-trim="false" placeholder="Type your Message Here!" maxlength="820" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <form class="form-horizontal" role="form" method="POST">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Message Type</label>
                                        <div class="col-md-8">
                                            <select class="form-control" ng-change="getsave()" ng-model="save.Type" required>
                                                <option value="">Choose Option</option>
                                                <option value="Customer-Birthday">Birthday(Customer)</option>
                                                <option value="Staff-Birthday">Birthday(Staff)</option>
                                                <option value="Staff-Happy-NewMonth">Happy New Month(Staff)</option>
                                                <option value="Customer-Happy-NewMonth">Happy New Month(Staff)</option>
                                                <option value="Aniversary">Aniversary</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label"></label>
                                        <div class="col-md-11">
                                            <div class="checkbox checkbox-info checkbox-inline">
                                                <input type="checkbox" id="Category" ng-model="save.Name" required>
                                                <label for="Category"> Include Name</label>
                                            </div>
                                            <div class="checkbox checkbox-success checkbox-inline">
                                                <input type="checkbox" id="Status" ng-model="save.Status" checked>
                                                <label for="Status"> Allow Automated Sms</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group hidden">
                                        <label class="col-md-4 control-label">Include Name</label>
                                        <div class="col-md-8">
                                            <div class="checkbox i-checks"><label>
                                                <input type="checkbox" ng-model="save.Category"><i></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group hidden">
                                        <label class="col-md-6 control-label">Allow Automated Sms</label>
                                        <div class="col-md-6">
                                            <div class="checkbox i-checks"><label>
                                                <input type="checkbox" ng-model="save.Status"><i></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-12 col-md-offset-4">
                                            <button class="btn btn-primary" ng-click="savemsg()" type="button">Set Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
