
<div ng-controller="staffcontroller">    
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-6">
            <h2>Staff's Manager</h2>
            <ol class="breadcrumb">
                <li><a href="Dashboard">Home</a></li>
                <li class="active">
                    <strong>Staff Manager / {{staffs.length}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2 pull-right">
            <div class="title-action">
                <a class="btn Add btn-primary" ng-hide="add" ng-click="editStaff('new')">New Staff</a>
                <a id="Back" class="btn Add btn-primary" ng-show="add">Back</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="title-action">
                <div class="input-group" ng-hide="add">
                    <input type="text" ng-model="SearchData" id="data" class="form-control" required>
                    <span class="input-group-btn">
                        <button type="button" id="Search" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated AddView View fadeInRight" ng-show="hideform">
        <div class="row">
            <div class="col-md-8">
                <form class="m-t form-horizontal" method="Post">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class="text-navy" ng-hide="edit">Add Staff Details</h5>
                            <h5 class="text-navy" ng-show="edit">Edit Staff Details</h5>
                            <div class="ibox-tools">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>FullName *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                                                <input type="text" ng-model="staff.FullName" placeholder="FullName" class="form-control" required>
                                                <input type="text" ng-model="staff.StaffId" class="form-control hidden">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Phone No *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                <input type="text" id="Phone" ng-model="staff.Phone" placeholder="Mobile Number" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email *</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                                <input type="email" id="Email" ng-model="staff.Email" placeholder="Email Address" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Image</label>
                                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                <div class="form-control col-lg-4" data-trigger="fileinput">
                                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                </div>
                                                <span class="input-group-addon btn btn-default btn-file">
                                                    <i class="fa fa-image"></i>
                                                    <span class="fileinput-new">Select</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="file" id="Image" placeholder="Passport" / required>
                                                </span>
                                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                <input type="text" id="img" ng-model="staff.Image" class="form-control hidden">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-md-offset-1">
                                        <div class="form-group">
                                            <label>DateOfBirth *</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="date" ng-model="staff.DateOfBirth" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Position*</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-id-badge"></i></span>
                                                <input type="text" id="Position" ng-model="staff.Position" placeholder="Position (Please Appreviate)"  class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Marital Status *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-handshake-o"></i></span>
                                                <select class="form-control" id="MaritalStatus" ng-model="staff.MaritalStatus" required>
                                                    <option value="">Choose From Options..</option>
                                                    <option value="Single">Single</option>
                                                    <option value="Married">Married</option>
                                                    <option value="Seperated">Seperated</option>
                                                    <option value="Window">Window</option>
                                                    <option value="Windower">Windower</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>DateWedded</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="date" date='dd-MM-yyyy' ng-model="staff.DateOfWedding" class="form-control" >
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <label>{{staff}}</label> -->
                                    <div class="form-group">
                                        <div class="col-md-offset-8 col-md-12">
                                            <a class="btn btn-sm btn-white btn-rounded Back" type="cancel">Cancel</a> 
                                            <button class="btn btn-sm btn-rounded btn-primary" ng-hide="edit" ng-click="postStaff()" type="button">Add Staff</button>
                                            <button class="btn btn-sm btn-rounded btn-warning" ng-show="edit" ng-click="updateStaff(staff.StaffId)" type="button">Update Staff</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"><br>
                <div class="contact-box">
                    <a>
                        <div class="col-sm-12 col-xs-12">
                            <h3><strong class="text-center">{{staff.FullName | capitalize:true}}</strong></h3>
                            <ul class="list-unstyled m-t-md">
                                <li>
                                    <span class="fa fa-id-badge m-r-xs"></span>
                                    <label></label> {{staff.Position | capitalize:true}} <br>
                                    <span class="fa fa-phone m-r-xs"></span>
                                    <label></label> {{staff.Phone}} <br>
                                    <span class="fa fa-calendar m-r-xs"></span>
                                    <label></label> {{staff.DateOfBirth | date}} <br>
                                    <span class="fa fa-handshake-o m-r-xs"></span>
                                    <label></label> {{staff.MaritalStatus | capitalize:true}}<br>
                                    <span class="fa fa-calendar m-r-xs"></span>
                                    <label></label> {{staff.DateOfWedding | date}} <br>
                                    <span class="fa fa-at m-r-xs"></span>
                                    <label></label> {{staff.Email | lowercase}}
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper View wrapper-content animated Blog fadeInRight" ng-hide="hideform">
        <div class="row">
            <div class="col-md-4" ng-repeat="s in staffs | orderBy : 'CreatedDate' | filter : SearchData | limitTo : count">
                <div class="contact-box">
                    <a>
                        <div class="col-sm-3 col-xs-12">
                            <div class="text-center">
                                <img alt="image" class="img-circle m-t-xs img-responsive" ng-src="{{Imgurl + s.Image}}" onerror="this.src='assets/img/acyst-logo.png'">
                                <div class="m-t-xs font-bold">{{s.Position }}</div>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <h3><strong>{{s.FullName | capitalize:true}}</strong></h3>
                            <ul class="list-unstyled m-t-md">
                                <li>
                                    <span class="fa fa-phone m-r-xs"></span>
                                    <label></label> {{s.Phone}} <br>
                                    <span class="fa fa-calendar m-r-xs"></span>
                                    <label></label> {{s.DateOfBirth | date}} <br>
                                    <span class="fa fa-handshake-o m-r-xs"></span>
                                    <label></label> {{s.MaritalStatus | capitalize:true}}<br>
                                    <span class="fa fa-calendar m-r-xs"></span>
                                    <label></label> {{s.DateOfWedding | date}} <br>
                                    <span class="fa fa-at m-r-xs"></span>
                                    <label></label> {{s.Email | lowercase}}
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <div class="contact-box-foot">
                        <div class="btn-group">
                            <a ng-click="editStaff(id)" ng-init="id=s.StaffId" class="btn btn-xs btn-white"><i class="fa fa-edit"></i>Edit</a> 
                            <a ng-click="deleteStaff(id)" ng-init="id=s.StaffId" class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center"> 
            <button class="btn btn-default btn-circle btn-lg" ng-click="load()" ng-init="page=1" type="button"><i class="fa fa-refresh fa-spin"></i></button>
        </div><br><br>
    </div>
</div>